<h1>Sign up</h1>

<%= form_with model: @user do |form| %>
  <div>
    <%= form.label :email %><br>
    <%= form.text_field :email %>
  </div>

  <div>
    <%= form.label :password %><br>
    <%= form.password_field :password %>
  </div>

  <div>
    <%= form.label :password_confirmation %><br>
    <%= form.password_field :password_confirmation %>
  </div>

  <div>
    <%= form.submit "Create account" %>
  </div>
<% end %>