<p style="color: green"><%= notice %></p>

<%= render @post %>

<div>
  <%= link_to "Back to posts", posts_path %>

  <% if user_signed_in? && (current_user.admin? || @post.user == current_user) %>
    <%= link_to "Edit this post", edit_post_path(@post) %> |
  <% end %>
  
  <% if user_signed_in? && current_user.admin? %>
    <%= button_to "Destroy this post", @post, method: :delete %>
  <% end %>



  <% if user_signed_in? && current_user.admin? && !@post.published? %>
  <%= button_to "Publish", publish_post_path(@post), method: :patch %>
  <% end %>
</div>
