<p style="color: green"><%= notice %></p>

<%= render @post %>

<% if @post.images.attached? %>
  <div>
    <% @post.images.each do |image| %>
      <%= image_tag image, style: "width: 300px; margin: 5px;" %>
    <% end %>
  </div>
<% end %>

<div>
  <p>❤️ <%= @post.likes.count %> likes</p>

  <% if @post.likes.exists?(ip_address: request.remote_ip) %>
    <%= button_to "Unlike", post_like_path(@post, @post.likes.find_by(ip_address: request.remote_ip)), method: :delete %>
  <% else %>
    <%= button_to "Like ❤️", post_likes_path(@post), method: :post %>
  <% end %>
</div>

<div>
  <h3>Comments (<%= @post.comments.count %>)</h3>

  <% @post.comments.each do |comment| %>
    <div>
      <strong><%= comment.name %></strong>
      <p><%= comment.body %></p>
      <small>Posted on <%= comment.created_at.strftime("%B %d, %Y") %></small>
      <% if user_signed_in? && current_user.admin? %>
        <small>📧 <%= comment.email %></small>
        <%= button_to "Delete", post_comment_path(@post, comment), method: :delete %>
      <% end %>
    </div>
    <hr>
  <% end %>

  <h4>Leave a comment</h4>
  <%= form_with model: [@post, Comment.new] do |form| %>
    
    <div>
      <%= form.label :name, "Your name" %>
      <%= form.text_field :name %>
    </div>
    <div>
      <%= form.label :email, "Your email (won't be displayed)" %>
      <%= form.email_field :email %>
    </div>
    <div>
      <%= form.label :body, "Your comment" %>
      <%= form.text_area :body, rows: 4 %>
    </div>
    <div>
      <%= form.submit "Post Comment" %>
    </div>
  <% end %>
</div>

<div>
  <%= link_to "Back to posts", posts_path %>

  <% if user_signed_in? && (current_user.admin? || @post.user == current_user) %>
    <%= link_to "Edit this post", edit_post_path(@post) %> |
  <% end %>
  
  <% if user_signed_in? && current_user.admin? %>
    <%= button_to "Destroy this post", @post, method: :delete %>
  <% end %>



  <% if user_signed_in? && current_user.admin? && !@post.published? %>
  <%= button_to "Publish", publish_post_path(@post), method: :patch %>
  <% end %>
</div>
